
<table>
    <tr>
        <td>Id</td>
        <td>{{volunteer.id}}</td>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{volunteer.first_name}}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{volunteer.last_name}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{volunteer.age}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{volunteer.email}}</td>
    </tr>
    <tr>
        <td>Field of interest</td>
        <td>{{volunteer.field_of_interest}}</td>
    </tr>
    </table>
    
<div><button (click)="deleteVolunteer()">Delete</button></div>

<button (click)="editVolunteer(volunteer.id)">Edit</button>


    
