
<table>
    <tr>
        <td>Id</td>
        <td>{{volunteer.id}}</td>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{volunteer.firstName}}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{volunteer.lastName}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{volunteer.email}}</td>
    </tr>
    <tr>
        <td>Field of interest</td>
        <td>{{volunteer.fieldOfInterest}}</td>
    </tr>
    </table>
    
<div><button (click)="deleteVolunteer()">Delete</button>

<button (click)="updateVolunteer(volunteer.id)">Edit</button>
</div>

