<form [formGroup]="volunteerForm" (ngSubmit)="createVolunteer()">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Field of Interest</mat-label>
    <input matInput formControlName="fieldOfInterest">
  </mat-form-field><br>
  <button mat-raised-button type="submit">create</button>
</form> 