
<table>
    <tr>
        <td>Id:</td>
        <td>{{job.id}}</td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>{{job.title}}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{job.type}}</td>
    </tr>
    <tr>
        <td>Organisation:</td>
        <td>{{job.organisation}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{job.email}}</td>
    </tr>

    <tr>
        <td>Employer ID:</td>
        <td>{{job.employerId}}</td>
    </tr>
    </table>
    
<div>
<button (click)="deleteJob()">Delete</button>
<button (click)="updateJob(job.id)">Edit</button>
</div>